.story_name {
  font-size: 32px;
  color: #4d9900;
  font-weight: bold;
}
.chapter_name {
  font-size: 20px;
  color: #492de7;
  font-weight: bold;
}
.content_chapter {
  font-size: 28px;
  text-align: justify;
}

.select_chapters {
  width: auto;
}
