@import "mixin";
@import "color_var";

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid $bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  .form-control {
    color: $red;
  }
}

// Show a story

.show_story{
  font-size: 16px;
  td{
    padding: 0 10px 0 10px;
  }
}

.a_story_name{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}
