@import "color_var";

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

header{
  background-color: $header-top;
  font-weight: bold;
  font-size: 15px;
}

.center{
  text-align: center;
  background-color: $header-bot;
}
.icon_en{
  height: 20px;
}

/* footer */
footer{
  background-color: $header-top;
  height: auto;
  span{
    font-weight: bold;
  }
  p{
    text-align: justify;
  }
}

body{
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}

.min_body{
  min-height: 405px;
  padding-top:20px;
}
