<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div>
          <br>
          <span>Giới thiệu</span><hr>
        </div>
        <div>
          <p>Truyện trực tuyến - Đọc Truyện Online Miễn Phí | Truyện Hay, Truyện Mới.
            Website luôn cập nhật những bộ truyện mới thuộc các thể loại đặc sắc như 
            truyện tiên hiệp, kiếm hiệp, truyện teen, tiểu thuyết ngôn tình nhanh nhất. 
            Hỗ trợ mọi thiết bị di động và máy tính bảng...
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <br>
          <span>Liên hệ</span><hr>
        </div>
        <div>
          <p>Email: story.framgia@gmail.com</p>
          <%= link_to "Điều khoản sử dụng", "#"%>
        </div>
      </div>
    </div>
  </div>
  <div class="text_left">
  	&copy; Le Duc Anh
  </div>
</footer>
